<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        * {
            box-sizing: border-box;
        }

        #myInput {
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

        #myTable th, #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

        #myTable tr.header, #myTable tr:hover {
            background-color: #f1f1f1;
        }
        .flex-container {
            display: flex;
            justify-content: space-between;
            /*background-color: DodgerBlue;*/
        }

        .flex-container > div {
            /*background-color: #f1f1f1;*/
            margin: 10px;
            padding: 20px;
            font-size: 20px;
        }
    </style>
    <title>Koinot</title>
</head>
<body>

<div class="container">

    <div class="flex-container">
        <div>
            <h2>
                <span th:text="'foydalanuvchilar soni: ' + ${message}"></span>
            </h2>
        </div>
        <div>
            <select th:field="${statistic}" id="mySelect" onchange="myFilter()">
<!--                <option value="default" >0</option>-->
                <option th:each="i : ${statistic}" th:value="${i.region}" th:text="${i.region}+'     ' +'     ' +'     ' +${i.count}">
                </option>
            </select>
        </div>

    </div>


    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">


    <table id="myTable">
        <tr class="header">
            <th style="width:30%;">FirstName</th>
            <th style="width:30%;">LastName</th>
            <th style="width:30%;">Region</th>
        </tr>
        <tr th:each="smokeTest : ${user}">
            <td><p th:text="${smokeTest.getFirstName}"></p></td>
            <td><p th:text="${smokeTest.getLastName}"></p></td>
            <td><p th:text="${smokeTest.getRegion}"></p></td>

        </tr>
    </table>

    <script>
        function myFunction() {
            var input, filter, table, tr, td, td1, td2, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        td1 = tr[i].getElementsByTagName("td")[1];
                        if (td1) {
                            txtValue = td1.textContent || td1.innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                td2 = tr[i].getElementsByTagName("td")[2];
                                if (td2) {
                                    txtValue = td2.textContent || td2.innerText;
                                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                        tr[i].style.display = "";
                                    } else {
                                        tr[i].style.display = "none";
                                    }
                                }
                            }
                        }

                    }
                }

            }
        }

        function myFilter() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("mySelect").value;
            console.log(input)
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                console.log("saom "+td)
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    console.log(txtValue)
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

    </script>
</div>
</body>
</html>
